body {
    background-color: #e1e9fc;
    margin: 0;
  }
  .heading {
    font-family: sans-serif;
    font-size: 5vh;
    padding-top: 6%;
    padding-bottom: 6%;
  }
  .form {
    border-color: #ccc;
    border-width: 1%;
    border-color: black;
  }
  #formContainer {
    text-align: center;
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-width: 1%;
    border-color: black;
  }
  .social {
    width: 9%;
    height: 9%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
  }
  #socialContainer {
    background-color: #f2f6ff;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #inputContainer {
    padding-top: 10%;
    padding-bottom: 8%;
    padding-left: 12%;
    padding-right: 12%;
  }
  .input {
    width: 90%;
    font-size: 2.8vh;
    padding-bottom: 3%;
    margin-bottom: 5%;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
  }
  .submit {
    cursor: pointer;
    background-color: #0056ff;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 3vh;
    color: white;
    border: None;
  }
  
@media screen and (max-width:600px){
  #formContainer {
    text-align: center;
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-width: 1%;
    border-color: black;
  }
}