.btn-box{
    padding-top: 1%;
}
.rem-btn {
    font-size: 3vh;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #ce4937;
}

.rem-btn:hover {
    transition-duration: 0.4s;
    background-color: #ce4937;
    color: white;
}
.add-btn {
    font-size: 3vh;
    margin-left: 1%;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.add-btn:hover {
    transition-duration: 0.4s;
    background-color: #4CAF50;
    color: white;
}