* {
  box-sizing: border-box;
}
.grid-container {
  display: flex;
}
#card {
  margin: 0.5%;
  padding: 2%;
  text-align: left;
  position: relative;
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(43, 86, 202, 0.125);
  border-radius: 0.25rem;
  box-shadow: #495057;
}
#card1 {
  margin: 0.5%;
  padding: 2%;
  text-align: left;
  position: relative;
  width: 99%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(43, 86, 202, 0.125);
  border-radius: 0.25rem;
  box-shadow: #495057;
}
.input {
  outline: none;
  background-color: #fff;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus {
  box-shadow: 10px;
  border-color: #0585c0;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.eventLabel {
  padding-bottom: 2%;
  text-align: center;
  font-weight: 500;
  color: #666;
}

.submit {
  text-align: center;
  background-color: #0056ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0056ff;
}

.sub-btn{
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 2%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  #card,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .grid-container {
    display: inline;
    width: 100%;
  }
}
